<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BioSync</title>
    <style>
        html, body {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            font-family: sans-serif;
        }

        body {
            display: flex;
            flex-direction: column;
            align-items: stretch; /* fill width */
            justify-content: stretch; /* fill height */
        }

        #root {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
        }

        /* Scrollbar styles */
        .scrollable::-webkit-scrollbar {
            width: 8px;
        }

        .scrollable::-webkit-scrollbar-track {
            background: transparent; /* let sidebar background show */
        }

        /* Firefox */
        .scrollable {
            scrollbar-color: auto transparent; /* thumb stays default, track transparent */
            scrollbar-width: thin;
        }
    </style>
</head>
<body>
<div id="root"></div>
<script src="composeApp.js" type="application/javascript"></script>
</body>
</html>
